html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Adicione esta classe ao seu arquivo site.css */

.form-inline .form-group {
    margin-right: 1rem; /* Ajuste o valor para o espaçamento desejado */
}

button.btn-primary {
    /* Estilos existentes */
    width: 100px; /* Ajuste a largura desejada */
    height: 40px; /* Ajuste a altura desejada */
   margin-top:auto;
}
